@tailwind base;
@tailwind components;
@tailwind utilities;

.accent{
  background-color: #0056F1;
}
html, body{
  scroll-behavior: smooth;
  @apply font-serif
}
.link-hover:hover{
  color: #0056F1;
}

.card-grid-container{
  @apply grid auto-rows-fr md:grid-cols-2 lg:grid-cols-3 lg:mx-4 mx-2 sm:mx-3 drop-shadow-2xl items-center justify-center
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  align-items: center;
  gap:20px;
  justify-content: space-between; */
}
.card-list{
  @apply flex items-center gap-1 py-2
}
.pricing-card{
  @apply rounded-md max-w-[400px] xsm:w-full border shadow-xl mt-4 h-fit min-h-[480px]  p-4 md:mx-2 
}
.home-card-container{
  @apply grid auto-rows-fr md:grid-cols-2 lg:grid-cols-4 lg:mx-4 mx-2 sm:mx-3  items-center justify-center 
}
.number {
  /* outline */
  -webkit-text-stroke: 1px #0056F1;
  -webkit-text-fill-color: transparent;
 
}
.delivery-card{
  transition: all 0.3s ease-out;
  z-index: 0;
  background-color: #f2f8f9;
  overflow: hidden;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
    color: white;
    .number{
      -webkit-text-stroke: 1px #FFFFFF;
    }
  
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #0056F1;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out
  }

  &:hover:before {
    transform: scale(1000);
  }
}
.hero-btn{
  transition: all 0.3s ease-out;
  z-index: 0;
  position:relative;
  overflow: hidden;
}
.hero-btn:hover{
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  color: white;
}
.hero-btn::before{
  content: "";
  position: absolute;
  z-index: -1;
  right: 0px;
  height: 100%;
  background: #0056F1;
  width: 2px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;

}
.hero-btn:hover::before{
    transform: scale(1000);
    background: #0056F1;
}
.hero-btn-1{
  transition: all 0.3s ease-out;
  z-index: 0;
  position:relative;
  overflow: hidden;
}
.hero-btn-1:hover{
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  color:#fff;
}
.hero-btn-1::before{
  content: "";
  position: absolute;
  z-index: -1;
  left: 0px;
  height: 100%;
  background: #0056F1;
  width: 2px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;

}
.hero-btn-1:hover::before{
    transform: scale(200);
}